.about {
  position: relative;
  z-index: 6;

  background-color: $dark;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.about__container {
  @include container-mobile;

  padding-top: 71px;
  padding-bottom: 83px;

  background-image:
    url("../img/about-mobile@1x.png"),
    url("../img/blue-back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position:
    18px 39px,
    -19px 39px;
  background-size:
    292px auto,
    132px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/about-mobile@2x.png"),
      url("../img/blue-back-desktop@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .about {
    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .about__container {
    @include container-tablet;

    padding-top: 134px;
    padding-bottom: 88px;

    background-image:
      url("../img/about-tablet@1x.png"),
      url("../img/blue-back-tablet@1x.png");
    background-repeat: no-repeat;
    background-position:
      384px 144px,
      40px 96px;
    background-size:
      376px auto,
      688px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/about-tablet@2x.png"),
        url("../img/blue-back-tablet@2x.png");
    }
  }

  .about__wrapper {
    width: 300px;
    margin-left: 35px;
  }

  .about__block-description {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .about__container {
    @include container-desktop;

    margin-top: -58px;
    padding-top: 185px;
    padding-bottom: 162px;

    background-image:
      url("../img/about-desktop@1x.png"),
      url("../img/blue-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position:
      750px 143px,
      60px 129px;
    background-size:
      630px auto,
      213px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/about-desktop@2x.png"),
        url("../img/blue-back-desktop@2x.png");
    }
  }

  .about__wrapper {
    width: 620px;
    margin-left: 70px;
  }

  .about__block-description {
    margin-bottom: 85px;
  }
}
