.add-profile {
  position: relative;
  z-index: 3;

  margin-top: -35px;

  background-color: $light;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.add-profile__container {
  @include container-mobile;

  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 25px;

  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-position: 195px 71px;
  background-size: 99px 99px;
}

.add-profile__heading {
  position: relative;

  width: 105px;
  margin-top: 15px;
  margin-bottom: 45px;
  margin-left: 25px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $bright-darkest;
}

.add-profile__features-list {
  @include list-reset;

  position: relative;

  margin-bottom: 30px;
  padding-left: 25px;

  counter-reset: add-profile;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 25px;

    width: 200px;
    height: 1px;

    background-color: rgba($darkest, 0.05);
  }
}

.add-profile__features-item {
  position: relative;

  width: 245px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-right: 60px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 1px;

    background-color: rgba($darkest, 0.05);
  }

  &::after {
    counter-increment: add-profile;
    content: counter(add-profile);

    position: absolute;
    top: 4px;
    right: 0;

    width: 34px;
    height: 34px;

    line-height: 34px;
    color: $lightest;
    text-align: center;
    vertical-align: middle;

    border-radius: 50%;
  }

  &:nth-child(1) {
    &::after {
      background-color: $bright-dark;
    }
  }

  &:nth-child(2) {
    &::after {
      background-color: $bright-darker;
    }
  }

  &:nth-child(3) {
    &::after {
      background-color: $bright;
    }
  }
}

.add-profile__tariffs-link {
  display: block;
  width: 220px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $darkest;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($darkest, 0.7);
  }

  &:active {
    color: rgba($darkest, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .add-profile {
    margin-top: -58px;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .add-profile__container {
    @include container-tablet;

    padding-top: 128px;
    padding-bottom: 64px;

    background-image:
      url("../img/rates@1x.png"),
      url("../img/lightblue-vertical-back-tablet@1x.png");
    background-repeat: no-repeat;
    background-position:
      582px 467px,
      530px 207px;
    background-size:
      99px 99px,
      198px 285px;
  }

  .add-profile__heading {
    width: 485px;
    margin: 0 auto;
    margin-bottom: 77px;
    padding: 0;

    font-size: 45px;
    line-height: 45px;
  }

  .add-profile__features-list {
    margin-bottom: 35px;
    padding: 0;

    font-size: 28px;
    line-height: 33px;
    font-weight: 300;

    &::after {
      left: 91px;

      width: 562px;
    }
  }

  .add-profile__features-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 653px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 18px;
    padding-left: 91px;

    &::before {
      left: 91px;

      width: 562px;
    }

    &::after {
      top: 0;
      left: 0;

      width: 67px;
      height: 67px;

      line-height: 67px;
    }
  }

  .add-profile__tariffs-link {
    position: relative;

    width: 365px;
    margin: 0;
    padding-left: 90px;

    font-size: 20px;
    line-height: 67px;
    color: #132576;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 67px;
      height: 67px;

      background-color: #e2e5f2;

      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 25px;

      width: 17px;
      height: 21px;

      background-image: url("../img/business.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 17px 21px;
    }

    &:hover,
    &:focus {
      color: rgba(#132576, 0.7);

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      color: rgba(#132576, 0.3);

      &::after {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .add-profile__container {
    @include container-desktop;

    padding-top: 162px;
    padding-bottom: 165px;

    background-image:
      url("../img/rates@1x.png"),
      url("../img/lightblue-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position:
      1108px 344px,
      750px 292px;
    background-size:
      198px 198px,
      444px 300px;
  }

  .add-profile__heading {
    margin-bottom: 136px;
  }

  .add-profile__features-list {
    margin-left: 71px;

    &::after {
      width: 813px;
    }
  }

  .add-profile__features-item {
    width: 904px;

    &::before {
      width: 813px;
    }
  }

  .add-profile__tariffs-link {
    margin-left: 71px;
  }
}
