.algorithm {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $darkest;

  background-color: $dark;
  background-image: linear-gradient($darkest 80px, $dark 80px);
}

.algorithm__container {
  @include container-mobile;
}

.algorithm__list {
  @include list-reset;

  background-image: linear-gradient($bright-darkest 90px, $bright-dark 90px, $bright-dark 170px, $bright-darker 170px, $bright-darker 250px, $bright 250px);

  border-radius: 10px;

  counter-reset: algorithm;
}

.algorithm__item {
  position: relative;

  width: 270px;
  padding-top: 20px;
  padding-bottom: 24px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  &::after {
    counter-increment: algorithm;
    content: counter(algorithm);

    position: absolute;
    top: 20px;
    right: 20px;

    color: $lightest;
  }

  &:nth-child(1) {
    background-color: $bright-darkest;
  }

  &:nth-child(2) {
    background-color: $bright-dark;
  }

  &:nth-child(3) {
    background-color: $bright-darker;
  }

  &:nth-child(4) {
    background-color: $bright;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.algorithm__text {
  width: 140px;
  margin: 0;
  margin-left: 25px;
}

@media (min-width: $tablet-width) {
  .algorithm {
    margin-top: -141px;

    font-size: 24px;
    line-height: 24px;

    background-color: transparent;
    background-image: none;
  }

  .algorithm__container {
    @include container-tablet;
  }

  .algorithm__list {
    display: flex;
    flex-wrap: wrap;

    background-image: linear-gradient($bright-darkest 50%, $bright-darker 50%);

    border-radius: 20px;
  }

  .algorithm__item {
    width: 344px;
    padding: 30px 34px;
    padding-bottom: 62px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    &::after {
      top: 86px;
      left: 35px;

      font-size: 30px;
      line-height: 30px;
    }

    &:nth-child(3) {
      border-radius: 0;
      border-bottom-left-radius: 20px;
    }

    &:nth-child(4) {
      border-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  .algorithm__text {
    width: 190px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .algorithm {
    margin-top: -231px;
    padding-bottom: 122px;
  }

  .algorithm__container {
    @include container-desktop;
  }

  .algorithm__list {
    background-image: linear-gradient(to right, $bright-darkest 345px, $bright-dark 345px, $bright-dark 690px, $bright-darker 690px, $bright-darker 1035px, $bright 1035px);
  }

  .algorithm__item {
    width: 345px;
    padding: 31px 30px;
    padding-top: 28px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    &::after {
      top: 28px;
      left: 300px;

      font-size: 24px;
      line-height: 24px;
    }

    &:first-child,
    &:last-child {
      &::after {
        left: 270px;
      }
    }

    &:first-child {
      width: 315px;
      padding-right: 36px;
      padding-left: 36px;
    }

    &:last-child {
      width: 255px;

      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3) {
      border-top-left-radius: 20px;
    }
  }
}
