.block-description {
  margin-left: 25px;
}

.block-description__heading,
.block-description__paragraph {
  margin: 0;
  margin-bottom: 19px;
}

.block-description__heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $bright-darkest;
}

.block-description__paragraph {
  width: 200px;

  &:last-child {
    margin-bottom: 0;
  }

  &--light {
    width: 215px;

    font-weight: 300;
    color: $lightest;
  }

  &--light-accent {
    font-weight: 700;
  }
}

.block-description__wrap {
  &--about-additional {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .block-description {
    margin-left: 0;
  }

  .block-description__heading {
    margin-bottom: 60px;

    font-size: 45px;
    line-height: 45px;

    &--about {
      margin-bottom: 41px;
    }
  }

  .block-description__paragraph {
    width: 100%;
    margin-bottom: 40px;

    font-size: 28px;
    line-height: 33px;

    &--about {
      margin-bottom: 32px;
    }

    &--light-accent {
      width: 260px;

      font-size: 21px;
      line-height: 25px;
    }
  }

  .block-description__wrap {
    &--about {
      display: none;
    }

    &--about-additional {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .block-description__heading--about {
    margin-bottom: 60px;
  }

  .block-description__paragraph {
    &--about {
      margin-bottom: 40px;
    }

    &--light-accent {
      width: 410px;
    }
  }

  .block-description__wrap {
    &--about-additional {
      display: none;
    }
  }
}
