.button {
  @include button;

  display: inline-block;
  width: 230px;
  min-height: 40px;
  padding: 0 25px;

  font-family: inherit;
  font-size: 17px;
  line-height: 40px;
  font-weight: 700;
  color: $darkest;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;

  background-color: $bright;

  border: none;
  border-radius: 25px;

  cursor: pointer;

  &--login {
    width: 270px;
    min-height: 50px;

    line-height: 50px;
  }

  &--inner-page {
    width: 270px;

    background-color: #dfe3f0;

    &:hover,
    &:focus {
      background-color: #d1d7e9;
    }

    &:active {
      color: rgba($darkest, 0.3);
    }
  }

  &--more {
    position: relative;

    width: 149px;
    min-height: 0;
    padding-right: 0;
    padding-left: 34px;

    color: #1d2e5b;
    line-height: 30px;

    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;

      width: 18px;
      height: 18px;

      background-color: transparent;
      background-image: url("../img/show-more-plus.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 18px 18px;
    }

    &:hover,
    &:focus {
      color: rgba(#1d2e5b, 0.6);

      background-color: transparent;

      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      color: rgba(#1d2e5b, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }
}
