.button {
  @include button;

  display: inline-block;
  width: 230px;
  min-height: 40px;
  padding: 0 25px;

  font-family: inherit;
  font-size: 17px;
  line-height: 40px;
  font-weight: 700;
  color: $darkest;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;

  background-color: $bright;

  border: none;
  border-radius: 25px;

  cursor: pointer;

  &--login {
    width: 270px;
    min-height: 50px;

    line-height: 50px;
  }

  &--inner-page {
    width: 270px;

    background-color: #dfe3f0;

    &:hover,
    &:focus {
      background-color: #d1d7e9;
    }

    &:active {
      color: rgba($darkest, 0.3);
    }
  }

  &--step-back {
    width: 120px;
    min-height: 0;
    padding: 0;

    line-height: 30px;

    background-color: transparent;

    &:hover,
    &:focus {
      background-color: transparent;
      color: rgba($darkest, 0.7);
    }

    &:active {
      color: rgba($darkest, 0.3);
    }
  }

  &--filter {
    position: relative;

    width: 270px;

    background-color: #d6daed;

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 85px;

      width: 12px;
      height: 12px;

      background-image: url("../img/filter-close.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 12px 12px;
    }

    &:hover,
    &:focus {
      background-color: #c8cee8;
    }

    &:active {
      color: rgba($darkest, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }

  &--companions {
    background-color: $lightest;

    &:hover,
    &:focus {
      background-color: $lightest;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    }

    &:active {
      color: rgba($darkest, 0.3);

      background-color: #f3c72b;
      box-shadow: none;
    }
  }

  &--more {
    position: relative;

    width: 149px;
    min-height: 0;
    padding-right: 0;
    padding-left: 34px;

    color: #1d2e5b;
    line-height: 30px;

    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;

      width: 18px;
      height: 18px;

      background-color: transparent;
      background-image: url("../img/show-more-plus.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 18px 18px;
    }

    &:hover,
    &:focus {
      color: rgba(#1d2e5b, 0.6);

      background-color: transparent;

      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      color: rgba(#1d2e5b, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }
}

.button__countries-filter-label {
  position: relative;

  display: inline-block;
  padding-left: 24px;

  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .button {
    width: 190px;
    min-height: 50px;

    font-size: 20px;
    line-height: 50px;
  }
}
