.catalog {
  @include container-mobile;
}

.catalog__list {
  @include list-reset;

  margin-bottom: 19px;
}

.catalog__companion-card {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    @include container-tablet;
  }

  .catalog__list {
    margin-bottom: 44px;
  }

  .catalog__companion-card {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 950px;
    margin: 0;
    padding: 0;
  }

  .catalog__list {
    margin-bottom: 65px;
  }

  .catalog__companion-card {
    margin-bottom: 30px;
  }
}
