.companion-card {
  position: relative;

  padding-top: 15px;
  padding-bottom: 22px;

  background-color: $lightest;

  border-radius: 20px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }
}

.companion-card__user-picture {
  position: absolute;
  top: 15px;
  left: 18px;

  display: inline-block;
  width: 70px;
  height: 70px;

  vertical-align: top;

  border-radius: 50%;

  overflow: hidden;
}

.companion-card__user-image {
  width: 70px;
  height: 70px;
}

.companion-card__name-status-wrapper {
  margin-left: 105px;
}

.companion-card__user-name {
  @include link;

  display: inline-block;
  width: 125px;
  margin: 0;
  margin-right: 10px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1d2e5b;
  vertical-align: top;
  text-decoration: none;
  word-wrap: break-word;
}

.companion-card__name-separator {
  margin: 0;
}

.companion-card__web-status {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0;
  margin-top: 10px;

  vertical-align: top;

  border-radius: 50%;

  &--offline {
    background-color: #f97676;
  }

  &--online {
    background-color: #81e31e;
  }
}

.companion-card__favourites-rating-wrapper {
  position: relative;
  z-index: 1;

  margin-bottom: 12px;
  margin-left: 67px;
}

.companion-card__favourites {
  position: relative;

  width: 31px;
  height: 31px;
  margin-right: 2px;

  vertical-align: top;

  background-color: $light;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 9px;

    width: 13px;
    height: 11px;

    background-color: transparent;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 13px 11px;

    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background-color: #e2e5f2;

    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.1;
    }
  }

  &--active {
    background-color: #f9eaea;

    &::before {
      background-image: url("../img/heart-active.svg");

      opacity: 1;
    }

    &:hover,
    &:focus {
      background-color: #f9d8d8;

      &::before {
        opacity: 1;
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }
}

.companion-card__raiting {
  display: inline-block;
  margin-top: 7px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $darkest;
  vertical-align: top;
  text-transform: uppercase;
}

.companion-card__tags {
  margin: 0 18px;
  margin-bottom: 13px;
}

.companion-card__sub-heading {
  position: relative;

  margin: 0;
  margin-bottom: 16px;
  padding-left: 27px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  text-transform: lowercase;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 15px;
    height: 1px;

    background-color: #edeff6;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;

    width: 138px;
    height: 1px;

    background-color: #edeff6;
  }

  &--transport {
    &::after {
      left: 105px;

      width: 75px;
      height: 1px;

      background-color: #edeff6;
    }
  }

  &--level {
    width: 92px;
    margin-bottom: 9px;
    padding-left: 30px;

    &::after {
      right: 0;

      width: 12px;
      height: 1px;

      background-color: #edeff6;
    }
  }
}

.companion-card__countries {
  margin: 0 25px;
  margin-bottom: 8px;

  &--even {
    margin-bottom: 11px;
  }
}

.companion-card__transport-level-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.companion-card__transport-wrapper {
  margin-right: 22px;
}

.companion-card__transport {
  margin-left: 24px;
}

.companion-card__level-wrapper {
  width: 89px;
}

.companion-card__level {
  margin-left: 24px;
}

.companion-card__button {
  margin: 0 18px;
}

@media (min-width: $tablet-width) {
  .companion-card {
    display: flex;
    flex-wrap: wrap;

    padding-top: 35px;
    padding-bottom: 25px;

    &:hover,
    &:focus {
      .companion-card__user-image {
        transform: scale(1.2);
      }
    }
  }

  .companion-card__user-picture {
    top: 35px;
    left: 35px;

    width: 190px;
    height: 190px;

    border-radius: 18px;
  }

  .companion-card__user-image {
    width: 190px;
    height: 190px;

    transition: all 0.5s ease-out;
  }

  .companion-card__name-status-wrapper {
    width: 315px;
    margin-left: 259px;
    margin-bottom: 17px;
  }

  .companion-card__user-name {
    width: auto;
    margin-top: -4px;
    margin-right: 18px;

    font-size: 30px;
    line-height: 30px;
  }

  .companion-card__name-separator {
    display: inline-block;
    max-width: 315px;

    vertical-align: top;
  }

  .companion-card__web-status {
    width: 7px;
    height: 7px;
  }

  .companion-card__favourites-rating-wrapper {
    order: 2;
    margin-left: 0;
    margin-bottom: 0;
  }

  .companion-card__favourites {
    width: 50px;
    height: 50px;

    &::before {
      top: 18px;
      left: 15px;

      width: 20px;
      height: 17px;

      background-size: 20px 17px;
    }
  }

  .companion-card__raiting {
    margin-top: 0;

    font-size: 20px;
    line-height: 50px;
  }

  .companion-card__tags {
    margin-left: 253px;
    margin-bottom: 47px;
  }

  .companion-card__countries-wrapper {
    order: 10;
    width: 100%;
  }

  .companion-card__sub-heading {
    margin-bottom: 20px;
    padding-left: 83px;

    &::before {
      width: 71px;
    }

    &::after {
      width: 499px;
    }
  }

  .companion-card__countries {
    margin: 0 33px;
  }

  .companion-card__transport-level-wrapper {
    order: 3;
    flex-direction: column;
    align-items: center;
    width: 60px;
    margin-top: -137px;
    margin-right: 25px;
    margin-bottom: 17px;
    margin-left: auto;
  }

  .companion-card__transport-wrapper {
    margin-right: 0;
  }

  .companion-card__sub-heading--transport,
  .companion-card__sub-heading--level {
    display: none;
  }

  .companion-card__transport {
    margin-left: 0;
  }

  .companion-card__level-wrapper {
    width: 60px;
  }

  .companion-card__level {
    margin-left: 0;
  }

  .companion-card__button {
    order: 1;
    align-self: flex-start;
    margin-right: 0;
    margin-left: 255px;
  }
}

@media (min-width: $desktop-width) {
  .companion-card {
    padding-top: 48px;
    padding-right: 44px;
    padding-bottom: 43px;
    padding-left: 285px;
  }

  .companion-card__user-picture {
    top: 0;
    left: 0;

    width: 285px;
    height: 285px;

    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .companion-card__user-image {
    width: 285px;
    height: 285px;
  }

  .companion-card__name-status-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 270px;
    margin-right: 84px;
    margin-bottom: 100px;
    margin-left: 34px;
  }

  .companion-card__user-name {
    order: 1;
    width: 240px;
    margin-right: 0;
  }

  .companion-card__name-separator {
    max-width: 250px;
  }

  .companion-card__web-status {
    margin-right: 19px;
  }

  .companion-card__favourites-rating-wrapper {
    order: 5;
    margin-top: -54px;
  }

  .companion-card__tags {
    order: 2;
    margin-top: -89px;
    margin-right: 84px;
    margin-bottom: 70px;
    margin-left: 55px;
  }

  .companion-card__countries-wrapper {
    order: 1;
    width: 230px;
    margin-bottom: 36px;
  }

  .companion-card__sub-heading--countries {
    display: none;
  }

  .companion-card__countries {
    margin: 0;
  }

  .companion-card__transport-level-wrapper {
    order: 3;
    flex-direction: row;
    justify-content: space-between;
    width: 234px;
    margin: 0;
  }

  .companion-card__button {
    order: 4;
    margin-top: -54px;
    margin-left: 56px;
  }
}
