.contacts__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.contacts__link {
  @include link;

  position: relative;

  display: inline-block;
  width: 270px;
  height: 45px;
  padding-left: 61px;

  line-height: 45px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: $darker;

    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: transparent;

    border-radius: 50%;
  }

  &:hover,
  &:focus {
    .contacts__icon {
      fill: $bright-darker;
    }
  }

  &:active {
    .contacts__icon {
      fill: rgba($bright-darker, 0.3);
    }
  }

  &--bright {
    color: $bright;

    &:hover,
    &:focus {
      color: $bright-darker;

      .contacts__phone-icon {
        fill: $bright-darker;
      }
    }

    &:active {
      color: rgba($bright-darker, 0.3);
    }
  }
}

.contacts__icon {
  position: absolute;

  fill: $bright;

  &--phone {
    top: 14px;
    left: 14px;

    width: 18px;
    height: 18px;
  }

  &--email {
    top: 17px;
    left: 14px;

    width: 18px;
    height: 13px;
  }
}

.menu {
  .contacts__list {
    width: 270px;
  }
}

@media (max-width: $only-mobile-width) {
  .menu--closed {
    .contacts__list {
      width: 80px;
    }

    .contacts__link {
      width: 40px;
      height: 40px;
      padding-left: 0;

      border-radius: 50%;

      &::before {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 40px;
        height: 40px;

        border-radius: 50%;

        opacity: 0;
      }

      &--phone {
        background-color: $bright-darkest;
        background-image: url("../img/topmenu-phone.svg");
        background-size: 18px 18px;

        &:hover,
        &:focus {
          background-color: #f26926;
        }

        &:active {
          &::after {
            background-color: #f26926;
            opacity: 0.7;
          }
        }
      }

      &--email {
        background-color: $bright-darker;
        background-image: url("../img/topmenu-mail.svg");
        background-size: 18px 14px;

        &:hover,
        &:focus {
          background-color: $bright-darkest;
        }

        &:active {
          &::before {
            opacity: 0.3;
          }

          &::after {
            background-color: $bright-darkest;
            opacity: 0.7;
          }
        }
      }
    }

    .contacts__icon,
    .contacts__label {
      display: none;
    }

    &.menu--inner-page {
      .contacts {
        display: none;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts__item {
    width: 618px;
  }

  .contacts__link {
    width: 300px;
    height: 68px;
    padding-left: 91px;

    font-size: 28px;
    line-height: 68px;

    &::before {
      width: 68px;
      height: 68px;
    }

    &::after {
      width: 68px;
      height: 68px;
    }
  }

  .contacts__icon {
    &--phone {
      top: 21px;
      left: 21px;

      width: 27px;
      height: 27px;
    }

    &--email {
      top: 25px;
      left: 21px;

      width: 27px;
      height: 20px;
    }
  }

  .menu {
    .contacts__list,
    .contacts__item {
      width: 630px;
    }

    &--closed {
      .contacts {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__item {
    width: auto;
    margin-right: 111px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .contacts__link {
    width: auto;
    height: 90px;
    padding-left: 122px;

    font-size: 28px;
    line-height: 90px;

    &::before {
      width: 90px;
      height: 90px;
    }

    &::after {
      width: 90px;
      height: 90px;
    }
  }

  .contacts__icon {
    &--phone {
      top: 28px;
      left: 28px;

      width: 36px;
      height: 36px;
    }

    &--email {
      top: 33px;
      left: 28px;

      width: 36px;
      height: 26px;
    }
  }

  .menu {
    &--closed {
      .contacts {
        display: block;
      }
    }

    .contacts,
    .contacts__list {
      width: 100px;
    }

    .contacts__item {
      width: 50px;
      margin-right: 0;
    }

    .contacts__link {
      width: 50px;
      height: 50px;
      padding-left: 0;

      border-radius: 50%;

      &::before {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 50px;
        height: 50px;

        border-radius: 50%;

        opacity: 0;
      }

      &--phone {
        background-color: $bright-darkest;
        background-image: url("../img/topmenu-phone.svg");
        background-size: 18px 18px;

        &:hover,
        &:focus {
          background-color: #f26926;
        }

        &:active {
          &::after {
            background-color: #f26926;
            opacity: 0.7;
          }
        }
      }

      &--email {
        background-color: $bright-darker;
        background-image: url("../img/topmenu-mail.svg");
        background-size: 18px 14px;

        &:hover,
        &:focus {
          background-color: $bright-darkest;
        }

        &:active {
          &::before {
            opacity: 0.3;
          }

          &::after {
            background-color: $bright-darkest;
            opacity: 0.7;
          }
        }
      }
    }

    .contacts__icon,
    .contacts__label {
      display: none;
    }
  }
}
