.contacts__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.contacts__link {
  @include link;

  position: relative;

  display: inline-block;
  padding-left: 61px;

  line-height: 45px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: $darker;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--phone {
    &::before {
      background-image: url("../img/contacts-phone.svg");
      background-size: 18px 18px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/contacts-phone-darker.svg");
      }
    }
  }

  &--email {
    &::before {
      background-image: url("../img/contacts-mail.svg");
      background-size: 18px 13px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url("../img/contacts-mail-darker.svg");
      }
    }
  }
}
