.countries {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--catalog {
    flex-direction: column;
    margin-left: 5px;
  }
}

.countries__item {
  position: relative;

  min-width: 35px;
  height: 24px;
  margin-right: 19px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 35px 24px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30%;
    z-index: 100;

    display: none;

    border: 8px solid #101d41;
    border-top-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    top: 38px;
    z-index: 100;

    display: none;
    padding: 16px 22px;

    font-size: 20px;
    line-height: 24px;
    color: $lightest;

    background-color: #101d41;

    border-radius: 3px;
  }

  &:hover {
    &::before,
    &::after {
      display: block;
    }
  }

  &--catalog {
    position: relative;

    margin-bottom: 4px;
    padding-left: 41px;

    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #1d2e5b;
    text-transform: uppercase;

    background-color: transparent;
    background-size: 26px auto;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &--sri-lanka {
    background-image: url("../img/flag-sri-lanka.svg");

    &::after {
      content: "Шри-Ланка";
      left: -52px;

      white-space: nowrap;
    }
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");

    &::after {
      content: "Таиланд";
      left: -39px;
    }
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles.svg");

    &::after {
      content: "Сейшелы";
      left: -43px;
    }
  }

  &--belgium {
    background-image: url("../img/flag-belgium.svg");

    &::after {
      content: "Бельгия";
      left: -39px;
    }
  }

  &--czech {
    background-image: url("../img/flag-czech.svg");

    &::after {
      content: "Чехия";
      left: -30px;
    }
  }

  &--usa {
    background-image: url("../img/flag-usa.svg");
  }

  &--australia {
    background-image: url("../img/flag-australia.svg");
  }

  &--dominicana {
    background-image: url("../img/flag-dominica.svg");
  }

  &--great-britain {
    background-image: url("../img/flag-united-kingdom.svg");
  }

  &--germany {
    background-image: url("../img/flag-germany.png");
  }
}

@media (min-width: $tablet-width) {
  .countries--catalog {
    flex-direction: row;
    justify-content: flex-start;
  }

  .countries__item--catalog {
    margin-right: 27px;
    margin-bottom: 0;
    padding-left: 47px;

    font-size: 20px;
    line-height: 24px;

    background-size: 35px auto;
  }
}

@media (min-width: $desktop-width) {
  .countries--catalog {
    align-content: flex-start;
    min-height: 98px;
  }

  .countries__item--catalog {
    margin-bottom: 13px;
    padding-left: 55px;
  }
}
