.directions {
  position: relative;
  z-index: 5;

  margin-top: -35px;

  background-color: $light;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.directions__container {
  @include container-mobile;

  padding-top: 105px;
  padding-bottom: 30px;
}

.directions__block-description {
  margin-bottom: 61px;
}

.page-main {
  .directions__countries-cards {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .directions {
    margin-top: -58px;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .directions__container {
    @include container-tablet;

    padding-top: 127px;
    padding-bottom: 80px;

    background-image:
      url("../img/flags-back@1x.png"),
      url("../img/lightblue-back-tablet@1x.png");
    background-repeat: no-repeat;
    background-position:
      439px 138px,
      40px 464px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/flags-back@2x.png"),
        url("../img/lightblue-back-tablet@2x.png");
      background-size:
        289px auto,
        141px auto;
    }
  }

  .directions__block-description {
    width: 340px;
    margin-left: 35px;
    margin-bottom: 105px;
  }

  .directions__countries-cards-wrapper {
    width: 618px;
    margin-left: 35px;
  }

  .page-main {
    .directions__countries-cards {
      margin-bottom: 45px;
    }
  }
}

@media (min-width: $desktop-width) {
  .directions__container {
    @include container-desktop;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -58px;
    padding-top: 219px;
    padding-bottom: 102px;

    background-position:
      1091px 146px,
      60px 147px;

    .directions__rectangle-button {
      order: 2;
      margin-top: -118px;
      margin-left: 803px;
    }
  }

  .directions__block-description {
    order: 1;
    margin-bottom: 150px;
    margin-left: 173px;
  }
}
