.email-form {
  position: relative;

  display: flex;
  justify-content: space-between;

  height: 62px;

  border-radius: 10px;
}

.email-form__input {
  width: 100%;
  padding-right: 80px;
  padding-left: 24px;

  font: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $lightest;

  border: none;

  border-radius: 10px;

  &::placeholder {
    color: rgba(#444444, 0.3);

    opacity: 1;
  }

  &:hover {
    background-color: $light;

    &::placeholder {
      color: rgba(#444444, 0.5);
    }
  }

  &:focus {
    padding-left: 20px;

    background-color: $dark;

    border: 4px solid $lightest;

    &::placeholder {
      color: $lightest;
    }
  }

  &:valid {
    padding-left: 20px;

    background-color: $dark;

    border: 4px solid $lightest;
  }

  &:invalid {
    box-shadow: none;
    outline: none;
  }
}

.email-form__rectangle-button:active + .email-form__input:invalid {
  background-color: #ffefef;

  &::placeholder {
    color: #ff0000;
  }
}

@media (min-width: $tablet-width) {
  .email-form {
    justify-content: flex-start;
    width: 618px;
    height: 81px;
    margin-right: auto;
    margin-left: auto;
  }

  .email-form__input {
    flex-shrink: 0;
    width: 536px;
    padding-right: 35px;
    padding-left: 35px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus,
    &:valid {
      padding-left: 31px;
    }
  }

  .email-form__rectangle-button {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .email-form {
    width: 1174px;
  }

  .email-form__input {
    width: 850px;
  }
}
