.logo {
  width: 100px;
  height: 19px;
}

.logo__link--light {
  display: none;
}

.logo__image {
  width: 100px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 166px;
    height: 42px;
    padding-top: 5px;
  }

  .logo__image {
    width: 166px;
    height: 42px;
  }
}

@media (max-width: $only-tablet-width) {
  .menu--closed {
    .logo__link--light {
      display: block;
    }

    .logo__link--dark {
      display: none;
    }
  }

  .menu--scroll {
    .logo__link--light {
      display: none;
    }

    .logo__link--dark {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 200px;
    height: 50px;
    margin-top: -6px;
  }

  .logo__link--light {
    display: inline;
  }

  .logo__link--dark {
    display: none;
  }

  .logo__image {
    width: 200px;
    height: 50px;
  }

  .menu--scroll {
    .logo__link--light {
      display: none;
    }

    .logo__link--dark {
      display: block;
    }
  }
}
