.main-heading {
  @include container-mobile;

  padding-top: 48px;
  padding-bottom: 13px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $lightest;
}

.main-heading__name {
  position: relative;

  display: inline-block;

  vertical-align: middle;

  &::after {
    content: "";

    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: $bright-darkest;

    border-radius: 2px;
  }
}

@media (min-width: $tablet-width) {
  .main-heading {
    @include container-tablet;

    padding-top: 170px;
    padding-bottom: 67px;

    font-size: 60px;
    line-height: 70px;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .main-heading__name {
    margin-left: 35px;

    &::after {
      bottom: -71px;

      height: 8px;

      border-radius: 4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-heading {
    @include container-desktop;

    padding-top: 110px;
    padding-bottom: 67px;
  }

  .main-heading__name {
    margin-left: 67px;
  }
}
