.modal-tariffs {
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 5;

  display: none;
  width: 270px;
  margin: 0 auto;
  margin-left: -135px;
  padding: 0 25px;
  padding-top: 30px;
  padding-bottom: 92px;

  background-color: $lightest;

  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

  &--opened {
    display: block;
  }
}

.modal-tariffs__heading {
  margin: 0;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $bright-darkest;
  text-align: center;
}

.modal-tariffs__list {
  @include list-reset;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 220px;
    height: 1px;

    background-color: rgba($darkest, 0.05);
  }
}

.modal-tariffs__item {
  position: relative;

  padding-top: 9px;
  padding-bottom: 13px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 220px;
    height: 1px;

    background-color: rgba($darkest, 0.05);
  }
}

.modal-tariffs__price {
  display: block;
}

.modal-tariffs__close {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 270px;
  padding: 18px 0;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #1d2e5b;
  text-transform: uppercase;

  background-color: #f3f4f8;

  border: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #d1d7e9;
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .modal-tariffs {
    top: 60px;

    width: 688px;
    margin-left: -344px;
    padding: 0 91px;
    padding-top: 48px;
    padding-bottom: 159px;

    border-radius: 30px;
  }

  .modal-tariffs__heading {
    margin-bottom: 49px;

    font-size: 45px;
    line-height: 45px;
  }

  .modal-tariffs__list {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;

    &::after {
      width: 506px;
    }
  }

  .modal-tariffs__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 506px;
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 16px;

    &::before {
      width: 506px;
    }
  }

  .modal-tariffs__close {
    width: 688px;
    padding: 42px 0;

    font-size: 24px;
    text-transform: none;

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

@media (min-width: $desktop-width) {
  .modal-tariffs {
    top: 167px;

    width: 750px;
    margin-left: -375px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .modal-tariffs__list {
    &::after {
      width: 630px;
    }
  }

  .modal-tariffs__item {
    width: 630px;

    &::before {
      width: 630px;
    }
  }

  .modal-tariffs__close {
    width: 750px;
  }
}
