.page-header {
  color: $lightest;

  background-color: $darkest;
}

.page-header__container {
  @include container-mobile;

  background-image:
    url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:
    79px 223px,
    0 0;
}

.page-header__slogan {
  width: 260px;
  min-height: 478px;
  padding-top: 90px;

  margin: 0 auto;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: #182044;
  }

  .page-header__container {
    @include container-tablet;

    background-image:
      url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position:
      284px 404px,
      -355px 382px;
  }

  .page-header__slogan {
    width: 395px;
    min-height: 995px;
    padding-top: 157px;

    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $darkest;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .page-header__container {
    @include container-desktop;

    background-image:
      url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position:
      604px 10px,
      -180px -100px;
  }

  .page-header__slogan {
    min-height: 652px;

    margin-left: 68px;
    padding-top: 105px;

    text-align: left;
  }
}
