.page-main--inner-page {
  background-color: $light;
}

.page-main__main-heading {
  position: relative;
  z-index: 10;

  background-color: $darkest;

  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
}

.page-main__add-profile-tariffs-wrapper {
  position: relative;
}

.page-main__catalog-page-wrapper {
  margin-top: -22px;
  padding-top: 46px;
  padding-bottom: 81px;
}

.page-main__companions-finder {
  margin-bottom: 28px;
}

.page-main__button {
  margin-bottom: 21px;
  margin-left: 60px;
}

@media (min-width: $tablet-width) {
  .page-main__contacts {
    margin-left: 35px;
  }

  .page-main__catalog-page-wrapper {
    margin-top: -58px;
    padding-top: 324px;
    padding-bottom: 119px;
  }

  .page-main__button {
    margin-bottom: 51px;
    margin-left: 247px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__catalog-page-wrapper {
    @include container-desktop;

    display: flex;
    flex-wrap: wrap;

    padding-top: 149px;
    padding-bottom: 134px;
  }

  .page-main__button {
    margin-bottom: 70px;
    margin-left: 345px;
  }
}
