.registration {
  position: relative;
  z-index: 2;

  margin-top: -35px;

  background-color: $dark;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.registration__container {
  @include container-mobile;

  padding-top: 105px;
  padding-bottom: 29px;
}

.registration__heading-question {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $bright-darkest;
  text-align: center;
}

.registration__text {
  width: 215px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 300;
  color: $lightest;
  text-align: center;

  &:last-of-type {
    margin-bottom: 18px;
  }
}

.registration__authorization-link {
  color: $bright;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $bright-darkest;
  }

  &:active {
    color: rgba($bright-darkest, 0.3);

    outline: none;
  }
}

.registration__email-form {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .registration {
    margin-top: -58px;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .registration__container {
    @include container-tablet;

    padding-top: 130px;
    padding-bottom: 61px;
  }

  .registration__heading-question {
    margin-bottom: 58px;

    font-size: 45px;
    line-height: 45px;
  }

  .registration__text {
    width: 618px;
    margin-bottom: 66px;

    font-size: 28px;
    line-height: 33px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  .registration__wrap--off {
    display: none;
  }

  .registration__email-form {
    margin-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .registration__container {
    @include container-desktop;

    padding-top: 160px;
    padding-bottom: 103px;
  }

  .registration__text {
    margin-bottom: 60px;

    &:last-of-type {
      width: 630px;
      margin-bottom: 45px;

      font-size: 29px;
    }
  }

  .registration__email-form {
    margin-bottom: 65px;
  }
}
