.review {
  @include container-mobile;

  padding-top: 45px;
  padding-bottom: 32px;

  background-color: $darkest;
}

.review__content {
  width: 160px;
  margin: 0;
  margin-left: 25px;
}

.review__text {
  margin: 0;
  margin-bottom: 18px;
}

.review__author {
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .review {
    @include container-tablet;

    margin-top: -539px;
    margin-bottom: 352px;

    background-color: transparent;
  }

  .review__content {
    width: 260px;
    margin-left: 35px;
  }

  .review__text {
    margin-bottom: 45px;

    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
  }

  .review__author {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
  }

  .review__wrap {
    display: block;
  }
}
