.route__background-wrapper {
  position: relative;
  z-index: 1;

  margin-top: -31px;
  padding-top: 63px;
  padding-bottom: 36px;

  background-color: $bright;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.route__container {
  @include container-mobile;
}

.route__adress {
  position: relative;

  display: inline-block;
  width: 205px;
  min-height: 45px;
  margin-bottom: 32px;
  padding-left: 61px;

  font-weight: 700;
  color: $dark;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: $darker;
    background-image: url("../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 22px;

    border-radius: 50%;
  }

  &:hover,
  &:focus {
    color: rgba($dark, 0.7);
    background-color: transparent;

    &::before {
      background-image: url("../img/contacts-location-darker.svg");
    }
  }

  &:active {
    color: rgba($dark, 0.3);

    &::before {
      opacity: 0.3;
    }
  }
}

.route__map {
  position: relative;
  z-index: 0;

  margin-top: -30px;

  border: 0;
}

@media (min-width: $tablet-width) {
  .route {
    margin-top: -58px;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .route__container {
    @include container-tablet;

    padding-top: 43px;
    padding-bottom: 48px;
  }

  .route__adress {
    width: 524px;
    min-height: 68px;
    margin-bottom: 44px;
    margin-left: 35px;
    padding-left: 94px;

    font-size: 28px;
    line-height: 68px;

    &::before {
      width: 68px;
      height: 68px;

      background-size: 21px 31px;
    }
  }

  .route__map {
    height: 571px;
    margin-top: -58px;
  }
}
