.site-menu {
  @include list-reset;

  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.site-menu__link {
  @include link;

  &--current {
    color: rgba($dark, 0.3);

    cursor: default;

    &:hover,
    &:focus,
    &:active {
      color: rgba($dark, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .site-menu {
    width: 630px;

    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}
