.site-menu {
  @include list-reset;

  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.site-menu__link {
  @include link;

  &--current {
    color: rgba($dark, 0.3);

    cursor: default;

    &:hover,
    &:focus,
    &:active {
      color: rgba($dark, 0.3);
    }
  }
}

.site-menu__label {
  &:active {
    color: rgba($dark, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-menu {
    width: 775px;

    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .site-menu {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    width: 830px;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 145px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 40px;

      width: 60px;
      height: 2px;

      background-color: $lightest;
    }
  }

  .site-menu__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-menu__link {
    display: inline-block;

    color: $lightest;
    vertical-align: top;

    overflow: hidden;

    &:hover,
    &:focus {
      color: $lightest;

      .site-menu__label {
        transform: translateY(-100%);
      }
    }

    &--current {
      color: rgba($bright, 0.7);

      &:hover,
      &:focus,
      &:active {
        color: rgba($bright, 0.7);

        .site-menu__label {
          color: rgba($bright, 0.7);

          transform: none;
        }
      }
    }
  }

  .site-menu__label {
    position: relative;
    display: inline-block;

    vertical-align: top;

    transition: transform 0.2s;

    &::before {
      content: attr(data-site-menu-item-name);
      position: absolute;
      top: 100%;

      color: $bright;

      transform: translate3d(0, 0, 0);
    }

    &:active {
      &::before {
        color: rgba($bright, 0.3);
      }
    }
  }

  .menu--scroll {
    .site-menu::before {
      left: 55px;

      width: 45px;

      background-color: $dark;
    }

    .site-menu__link {
      color: $dark;

      &:hover,
      &:focus {
        color: rgba($dark, 0.6);
      }

      &:active {
        color: rgba($dark, 0.3);
      }

      &--current {
        color: rgba($dark, 0.3);

        &:hover,
        &:focus,
        &:active {
          color: rgba($dark, 0.3);
        }
      }
    }

    .site-menu__label {
      &::before {
        color: #f57b20;
      }

      &--current-page {
        &:hover,
        &:focus {
          color: rgba($dark, 0.3);
        }
      }

      &:active {
        color: rgba($dark, 0.3);

        &::before {
          color: rgba(#f57b20, 0.3);
        }
      }
    }
  }
}
