.social__list {
  @include list-reset;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__icon {
  position: relative;

  display: inline-block;

  width: 45px;
  height: 45px;

  line-height: 45px;
  text-align: center;
  vertical-align: middle;

  background-color: $lightest;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: inherit;
  }

  &:active {
    opacity: 0.3;

    outline: none;
  }

  &--facebook {
    background-image: url("../img/facebook.svg");
    background-size: 11px 21px;
  }

  &--vkontakte {
    background-image: url("../img/vk.svg");
    background-size: 23px 12px;
  }

  &--instagram {
    background-image: url("../img/instagram.svg");
    background-size: 18px 18px;
  }

  &--footer {
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 45px;
      height: 45px;

      background-color: $bright;

      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 45px;
      height: 45px;

      background-repeat: no-repeat;
      background-position: center;

      border-radius: 50%;
    }

    &.social__icon--facebook {
      &::after {
        background-image: url("../img/facebook.svg");
        background-size: 11px 21px;
      }
    }

    &.social__icon--vkontakte {
      &::after {
        background-image: url("../img/vk.svg");
        background-size: 23px 12px;
      }
    }

    &.social__icon--instagram {
      &::after {
        background-image: url("../img/instagram.svg");
        background-size: 18px 18px;
      }
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 1;

      &::before {
        background-color: $bright-darker;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .social__icon {
    width: 60px;
    height: 60px;

    line-height: 60px;

    &--facebook {
      background-size: 14px 28px;
    }

    &--vkontakte {
      background-size: 31px 16px;
    }

    &--instagram {
      background-size: 26px 26px;
    }

    &--footer {
      &::before {
        width: 60px;
        height: 60px;
      }

      &::after {
        width: 60px;
        height: 60px;
      }

      &.social__icon--facebook {
        &::after {
          background-size: 14px 28px;
        }
      }

      &.social__icon--vkontakte {
        &::after {
          background-size: 31px 16px;
        }
      }

      &.social__icon--instagram {
        &::after {
          background-size: 26px 26px;
        }
      }
    }
  }
}
