.tags__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 185px;
  margin: 0 auto;

  line-height: 18px;

  &--catalog {
    justify-content: flex-start;

    margin: 0;
    margin-left: 8px;

    font-size: 15px;
  }
}

.tags__item {
  align-self: flex-start;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.tags__link {
  color: #444444;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: inherit;
  }

  &:active {
    color: rgba(#444444, 0.5);
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .tags__list {
    width: 225px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .tags__list {
    width: 240px;
  }
}
