.transport {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--catalog {
    width: 135px;

    .transport__item {
      width: 32px;
      height: 32px;

      background-color: $light;
    }

    .transport__icon {
      margin-top: 8px;
      margin-left: 8px;

      vertical-align: top;

      &--plane {
        width: 14px;
        height: 16px;
      }

      &--bus {
        width: 13px;
        height: 16px;
        margin-left: 10px;
      }

      &--bike {
        width: 19px;
        height: 17px;
        margin-top: 7px;
        margin-left: 6px;
      }

      &--walk {
        width: 15px;
        height: 17px;
      }
    }
  }
}

.transport__item {
  width: 33px;
  height: 33px;

  line-height: 33px;

  border-radius: 50%;
}

.transport__icon {
  display: inline-block;

  vertical-align: middle;

  fill: rgba(#000000, 0.15);

  &--active {
    fill: #1d2e5b;
  }

  &--plane {
    width: 19px;
    height: 21px;
  }

  &--bus {
    width: 17px;
    height: 21px;
  }

  &--bike {
    width: 24px;
    height: 21px;
  }

  &--walk {
    width: 20px;
    height: 21px;
  }
}

@media (min-width: $tablet-width) {
  .transport--catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33px;

    text-align: center;

    .transport__item {
      width: 33px;
      height: 33px;

      background-color: transparent;
    }

    .transport__icon {
      margin: 0;

      vertical-align: top;

      &--plane {
        width: 19px;
        height: 21px;
      }

      &--bus {
        width: 17px;
        height: 21px;
      }

      &--bike {
        width: 24px;
        height: 21px;
      }

      &--walk {
        width: 20px;
        height: 21px;
      }
    }
  }
}
