.user-schedule {
  position: relative;
  z-index: 1;

  margin-top: -28px;

  font-weight: 500;
  color: #1d2e5b;

  background-color: #dfe3f0;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.user-schedule__container {
  @include container-mobile;

  padding-top: 27px;
  padding-bottom: 60px;
}

.user-schedule__heading {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.user-schedule__list {
  @include list-reset;

  counter-reset: schedule-number;
}

.user-schedule__item {
  margin-bottom: 10px;
  padding: 21px 25px;
  padding-bottom: 24px;

  background-color: $lightest;

  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-schedule__countries {
  position: relative;

  margin: 0;
  margin-bottom: 22px;
  padding-left: 15px;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  &::before {
    counter-increment: schedule-number;
    content: counter(schedule-number) ".";
    position: absolute;
    top: 0;
    left: -2px;

    font-weight: 500;
  }
}

.user-schedule__info-wrapper {
  font-size: 14px;
  line-height: 14px;
}

.user-schedule__info {
  margin: 0;
  margin-bottom: 6px;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  &:last-of-type {
    margin-bottom: 23px;
  }
}

.user-schedule__change-link {
  color: rgba(#444444, 0.3);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(#444444, 0.6);
  }

  &:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: inherit;
  }

  &:active {
    color: rgba(#444444, 0.1);

    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .user-schedule {
    margin-top: -30px;
  }

  .user-schedule__container {
    @include container-tablet;

    padding: 0 75px;
    padding-top: 51px;
    padding-bottom: 107px;
  }

  .user-schedule__heading {
    margin-bottom: 53px;

    font-size: 36px;
    line-height: 36px;
  }

  .user-schedule__item {
    padding: 0;
  }

  .user-schedule__countries {
    margin-bottom: 0;
    padding-top: 38px;
    padding-right: 50px;
    padding-bottom: 34px;
    padding-left: 36px;

    font-size: 24px;
    line-height: 24px;

    &::before {
      top: 40px;
      left: 570px;

      font-size: 20px;
      line-height: 20px;
    }
  }

  .user-schedule__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 19px;
    padding-right: 34px;
    padding-bottom: 16px;
    padding-left: 33px;

    font-size: 20px;
    line-height: 20px;

    border-top: 1px solid #eff0f4;
  }

  .user-schedule__info {
    min-width: 160px;
    margin-right: 27px;
    margin-bottom: 0;

    letter-spacing: 1.9px;

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .user-schedule__change-link {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .user-schedule {
    margin-top: -58px;

    border-top-right-radius: 58px;
    border-top-left-radius: 58px;
  }

  .user-schedule__container {
    @include container-desktop;

    padding-top: 51px;
    padding-right: 60px;
    padding-bottom: 115px;
    padding-left: 124px;
  }

  .user-schedule__heading {
    margin-left: 7px;
  }

  .user-schedule__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
    padding: 37px 42px;
    padding-left: 44px;
  }

  .user-schedule__countries {
    width: 520px;
    margin-right: 62px;
    padding: 0;
    padding-left: 52px;

    &::before {
      top: 3px;
      left: 0;
    }
  }

  .user-schedule__info-wrapper {
    width: 586px;
    padding: 0;

    line-height: 24px;

    border-top: none;
  }

  .user-schedule__info {
    margin-right: 17px;
  }
}
