// colors
$dark: #192144;
$darker: #121936;
$darkest: #161c35;
$light: #edeff6;
$lightest: #ffffff;
$bright: #ffd74b;
$bright-darker: #ffbd30;
$bright-dark: #ffa530;
$bright-darkest: #ff8d30;
// width
$tablet-width: 768px;
$desktop-width: 1440px;
